
.about {
    text-align: center;
    padding: 6rem 2rem;
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 15px;
    /*background: linear-gradient(135deg, #03001e, #7303c0, #ec38bc, #fdeff9);*/
    color: #fff; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(11deg, #010009,  #fdeff9);

  }
  @media (max-width: 900px) {
    .about {
      max-width: 90%; 
      margin: 2rem auto;
    }
  }
  
.about h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #0f0f11;
}
.about p{
    font-size: 1.1rem;
    line-height: 1.8;
    color:#e6d6d6;
}