.footer {
    padding: 2rem;
    text-align: center;
    background: #111;
    color: #fff;
    border-top: 1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.footer p{
    color:white

}
  