
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  /*background: linear-gradient(135deg, #cabdbd, #110313);*/
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;

 
  background: linear-gradient(135deg, #024cec, #e73973);
  -webkit-background-clip: text; 
  -webkit-text-filsl-color: transparent;

  background-clip: text;
  color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  position: relative;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #4f46e5;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a:hover {
  color: #141415;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 60px;
    right: -100%;
    flex-direction: column;
    background: linear-gradient(135deg, #000000, #7a2286);
    width: 200px;
    padding: 2rem;
    gap: 1.5rem;
    transition: right 0.3s ease;
    height: calc(100vh - 60px);
  }

  .nav-links.open {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}

  